<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>
            piTestSystem
        </title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link href="static/css/jquery-ui.css" rel="stylesheet">
        <style>
            body { margin: 0; color:black;background-color:white;}
        </style>
    </head>
    <body>
        <img src="static/images/menu.png" id="imgMenu" style="float:right;margin-top:3px;margin-right:3px;">
        <div class="chart-container" style="position: relative; width:95vw;">
            <canvas id="chart"></canvas>
        </div>
        <div id="dialogMenu" style="display:none;">
            <button class="myButton" id="buttonSettings">Settings</button>
        </div>
        <script src="static/js/Chart.js" charset="utf-8"></script>
        <script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
        <script src="static/js/jquery-ui.min.js" charset="utf-8"></script>
        <script src="static/js/jquery.ui.touch-punch.min.js"></script>
        <script src="static/js/index.js" charset="utf-8"></script>
    </body>
</html>