<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>
            Logging - piTestSystem
        </title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link href="static/css/jquery-ui.css" rel="stylesheet">
        <style>
            body { margin: 0; color:black;background-color:white;}
            .myButtons {width: 250px;margin:2px;}
            
        </style>
    </head>
    <body>
        Filename: <input type="text" id="inputFilename" placeholder="Enter filename">
        <button class="myButton" id="buttonStartLogging">Start Logging</button>
        <button class="myButton" id="buttonStopLogging">Stop Logging</button>
        <hr>
        Existing log files
        <div id="divFileList">
        
        </div>
        <script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
        <script src="static/js/jquery-ui.min.js" charset="utf-8"></script>
        <script src="static/js/jquery.ui.touch-punch.min.js"></script>
        <script src="static/js/logging.js" charset="utf-8"></script>
    </body>
</html>